*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: bisque;
}
a{
    text-decoration: none;
    margin: 0 2rem;
    font-size: larger;
}